@{ ViewBag.Subtitle = "Main Page"; }

<h1 class="text-primary">Send emails with aspnet core</h1>
<hr>
<p>This app was built for teaching purposes. It shows how you can <b>send emails</b> through asp net core.</p>
<p><a class="btn btn-primary" asp-action="SendTestEmail">Send test email</a></p>